*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style-type: none;
}

.main{
    overflow:hidden;
}

:root{
    --font-family:'Open Sans', sans-serif;
    --color-black: #2a2c2b;
    --header: linear-gradient(224deg,#eee5d3 20%,#fdeded 81.18%);
}

.cont-flex{
    display: flex;
}

.cont-flexr{
    display: flex;
    flex-direction: column;
}

/* --------------- primary css --------------- */

.navbar{
    display: flex;
    width:l00vw;
    line-height:3.5rem;
    background: var(--header);
    padding: 10px 0;
    font-family: var(--font-family);
    justify-content: space-around;
}

.logo{
    flex:1.2;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 35px;
    font-weight: bolder;
    color: var(--color-black);
    padding-left: 60px;
}

.navList{
    flex:2.8;
    display: flex;
    gap:25px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    color: #363636;
}

.navLast-container{
    flex:1.64;    
    display: flex;
    align-items: center;
    font-size: 14px;
    gap:20px
}

.menuFunctions{
    display: none;
}

/* basic functionality doen navbar  */

.navLast-container p{
    color: var(--color-black);
    font-weight: bold;
}

.order-btn{
    /* width:130px; */
    background-color: var(--color-black);
    color: white;
    padding: 15px 0;
    border-radius: 25px;
    border: none;
    /* font-weight: bolder; */
    font-size: 12px; 
    transition: all .4s ease;
    letter-spacing:.8px;
    word-spacing: .2px;
}

.order-btn:hover{
    background: white;
    color: var(--color-black);

}

.navLast-container i{
    font-size: 25px;
    color:rgb(37, 37, 37);
    font-weight: lighter;
    animation:none;
}

.closeMenu{
    display: none;
}


@media screen and (max-width:1086px) {
    .navLast-container p , .navLast-container i{
        display:none;
    }

    .navLast-container{
        justify-content: flex-end;
    }
    
    .menuFunctions{
        display:flex;
        align-items: center;
        font-size: 35px;
        /* transition:all 400ms ease; */
    }

    .navbar{
        position:relative;
    }

    .navList{
        display:flex;
        position:absolute;
        flex-direction: column;
        width:100vw;
        top:0;
        background: rgb(247, 184, 181);
        padding:5px 0 30px 0;
    }

    .closeMenu{
        display: flex;
        width:100%;
        justify-content: flex-end;
        font-size: 25px;
        margin-right: 10px;
    }

    #openMenu{
        margin: 0 20px;
    }
     .hidden{
        display:none;
    }

    .show{
        display: flex;
    } 
}


@keyframes fromTop {
    0%{
        transform: translateY(-50%);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}



/* Navbar ended -------------- */

.header_container{
    display:flex;
    width: 100vw;
    height: 90vh;
    font-family: 'Roboto';
    background-image: var(--header);
    justify-content: space-around;
    align-items: center;
}

.header_container_sub1{
    display: flex;
    width: 45%;
    height: 100%;
    background: transparent;
    align-items: flex-end;
    justify-content: flex-end;
}


.header_container_sub2{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 80%;
    background-color: transparet;
    padding-left:10rem;
}

/* header container div align design completer ----------------- */

.headerimg{
    display: flex;
    width:85%;
    height:80%;
}

.header_container_sub2_header p{
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: bold;
}

.header_container_sub2_header h1{
    font-size: 3.5rem;
    line-height: 5rem;
    font-weight: light;
}

.header_container_sub2_middle{
    display: flex;
    gap:45px;
    align-items: center;
    line-height: 6rem;
    font-size: 14px;
    font-weight: bold ;
}

.header_container_sub2_footer{
    display: flex;
    align-items: center;
    gap:40px;
    /* padding:20px; */
    margin-top: 6rem;
    line-height: 20px;
}

/* .header_container_sub2_footer div{} */

.header_container_sub2_footer p{
    font-size: 14px;
    color: rgba(7, 7, 7, 0.726);
    font-weight: bold;
}

.header_container_sub2_footer h3{
    font-size: 16px;
    font-weight: bolder;
}

hr{
    height: 80%;
}